.landing-page-about {
    padding: 50px 0;

    &-item {
        flex: 1;
    }

    &-name,
    &-title {
        font-size: 18px;
    }

    &-title {
        color: $dark-gray;
        margin-bottom: 15px;
    }

    &-name {
        color: $yellow;
        margin-bottom: 45px;
    }

    &-text {
        line-height: 1.4;
    }
}

@media (max-width: 767px) {
    .landing-page-about {

        &-items {
            flex-direction: column;
        }

        &-title {
            margin-top: 15px;
        }
    }
}

@media (min-width: 768px) {
    .landing-page-about {
        &-item {
    
            &.first {
                margin-right: 50px;
            }
        }
    }
}