* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $gray;
    font-family: 'Museo Sans', sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    max-width: 960px;
}

a,
a:hover,
a:visited {
    outline: none;
    text-decoration: none;
}

a {
    color: $green;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    padding: 0 10px;
}

.flex {
    display: flex;
    
    &.wrap {
        flex-wrap: wrap;
    }
}

.hidden {
    display: none;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}

.img-responsive {
    max-width: 100%;
    vertical-align: middle;
}

.landing-page-section {

    &.gray {
        background: $light-gray;
    }
}

.separator {
    background: $gray;
    content: "";
    display: block;
    height: 2px;
    margin: 30px auto;
    width: 200px;
}

@media (max-width: 767px) {
    .landing-page-section {
        padding: 0 10px;
    }
}

@media (min-width: 768px) {
    .landing-page-section {
        padding: 0 50px;
    }
}