.landing-page-header {
    align-items: center;
    background: url(../img/foto-header.png);
    justify-content: center;
    min-height: 450px;

    &-title {
        color: $white;
        margin-top: 150px;
    }
}

@media (max-width: 767px) {
    .landing-page-header {

        &-title {
            font-size: 36px;
        }
    }
}

@media (min-width: 768px) {
    .landing-page-header {

        &-title {
            font-size: 48px;
        }
    }
}