.landing-page-team {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;

    &-title {
        max-width: 230px;
        padding-bottom: 55px;
    }

    &-items {
        margin: 0 -5px;      
    }
    
    &-item {
        margin: 0 5px;
    }
}

@media (max-width: 767px) {
    .landing-page-team {

        &-items {
            flex-direction: column;
        }

        &-item {

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

@media (min-width: 768px) {
    .landing-page-team {

        &-items {
            flex-direction: row;
        }
    }
}