/* Colors */
$blue: #1C7CCC;
$white: #fff;
$green: #3f922a;
$gray: #7D7873;
$green: #359C9C;
$light-gray: #F8F8F8;
$dark-gray: #7D7873;
$yellow: #F9A92F;
$navigators: ("-webkit-", "-moz-", "-ms-", "-o-", "");